body {
  box-sizing: border-box;
  display: grid; 
  font-family: Open sans, sans-serif;
  height: 250px;
  grid-template-areas: "aside nav nav nav nav nav nav"
                       "aside header header header header header header"
                       "aside section section section section section section"
                       "aside main main main main article article";
  grid-template-rows: 1fr 1fr 2fr 5fr;
  grid-template-columns: 1fr 6fr;
  width: 100%;
}

/* LEFT SIDEBAR */

.sidebar {
  background-color: #2f3848;
  grid-area: aside;
}

.headshot-name {
  text-align: center;
}

.headshot {
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 50%;
}

.headshot-label {
  display: inline-block;
  margin: 5px -15px 15px 0px;
}

#my-name {
  font-size: 14px;
}

.headshot-name,
nav,
ul {
  background-color: #2f3848;
  color: #929DB1;
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
  padding: 0px;
}

.headshot-name,
.main-admin {
  border-bottom: 2px solid #293041;
}

.sidebar-titles {
  color: #64738A;
  font-weight: bold;
  margin: 30px 10px 0px 20px;
}

li {
  border-left: 2px solid #2f3848;
  font-weight: bold;
  padding-bottom: 12px;
  padding-top: 12px;
}

li:hover {
  background-color: #293041;
  border-left: 2px solid #14A4F7;
  color: #FFF;
}

.sidebar i {
  margin-left: 20px;
  margin-right: 10px;
}

#yellow-check {
  color: #FCD60B;
}

#blue-check {
  color: #24A4FE;
}

#red-check {
  color: #EA1354;
}

#green-check {
  color: #08A17F;
}

/* RIGHT PAGE CONTENT */

/* NAVIGATION BAR, TOP OF PAGE */

.searchbar-nav {
  border-bottom: 2px solid #EDEEF3;
  display: flex;
  flex-direction: row;
  grid-area: nav;
  justify-content: space-between;
}

.nav-container-left,
.nav-container-right {
  align-items: center;
  display: flex;
}

.searchbar-nav-icons {
  border-right: 2px solid #EDEEF3;
  color: #90929E;
  padding: 25px;
}

.searchbar-nav-icons-2 {
  color: #90929E;
  padding: 25px;
}

#left-arrow {
  color: #14A4F7;
}

.searchbar-nav-icons:hover,
.searchbar-nav-icons-2:hover,
#left-arrow:hover {
  background-color: #14A4F7;
  color: #FFF;
  cursor: pointer;
}

.search-text {
  color: #90929E;
}

.search-text:hover {
  color: #EDEEF3;
}

/* HEADER ELEMENTS */

header,
.main-header,
.main-header-buttons,
.page-tabs,
main {
  background-color: #FFF;
  color: #64738A;
  grid-area: header;
}

.main-header,
.main-header-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 0px 50px;
}

.job-title {
  color: #64738A;
  grid-area: header;
  margin: 30px 0px -20px 50px;
}

.main-header i {
  margin-right: 10px;
}

.main-header a {
  color: #64738A;
  text-decoration: none;
}

.dot {
  margin: 10px;
}

.preview-post-link {
  color: #14A4F7;
}

.preview-post-link:hover {
  color: #293041;
  font-weight: 700;
}

#green-circle {
  color: #8DCB47;
  font-size: 15px;
}

#open-button {
  border-radius: 50px;
  width: 100px;
}

.header-buttons {
  border-radius: 50%;
  color: #90929E;
  height: 40px;
  margin: 5px;
  padding: 5px;
  width: 40px;
}

.header-buttons:hover {
  color: #293041;
  font-weight: 900;
}

.page-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: section;
  justify-content: space-between;
  margin: 5px 50px -16px 50px;
  width: 75%;
}

.page-tab-links {
  border-bottom: 3px solid #FFF;
  padding: 15px 0px 30px 0px;
}

.page-tab-links:hover {
  border-bottom: 3px solid #14A4F7;
  color: #2f3848;
  font-weight: 700;
}

/* MAIN SECTION WITH CHARTS, TABLE AND SOCIAL MEDIA CONTENT */

.data-visuals {
  background-color: #EAF0F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.data-visuals-left {
  margin-bottom: 0px;
  width: 50%;
}

.data-visuals-right {
  width: 50%;
}

.data-buttons-box {
  display: flex;
}

.data-visuals-buttons {
  border-radius: 100px;
  display: flex;
  font-size: 10px;
  justify-content: center;
  margin: auto;
  padding: 5px 15px 5px 15px;
}

.flex-wrapper {
  display: flex;
  margin-bottom: 23px;
}

.single-chart {
  justify-content: space-around ;
  width: 33%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-height: 250px;
  max-width: 93%;
}

.circle-bg {
  fill: none;
  stroke: #d6e3ec;
  stroke-width: 2.2;
}

.circle {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke-linecap: round;
  stroke-width: 2.2;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.green .circle {
  stroke: #00BEC4;
}

.circular-chart.blue .circle {
  stroke: #009ffE;
}

.circular-chart.purple .circle {
  stroke: #BD59AE;
}

.data-bar-chart {
  display: flex;
  margin: 0px auto 15px auto;
  width: 80%;
}

.right-page-divider {
  align-items: center;
  color: #64738A;
  display: flex;
  padding: 40px 0px 40px 0px;
}

hr {
  border-top: 1px solid;
  color: #90929E;
  width: 50%;
}

.right-page-divider i {
  color: #64738A;
  font-size: 20px;
  margin: 5px;
}

.number {
  fill: #666;
  font-family: sans-serif;
  font-size: 8px;
  text-anchor: middle;
}

.text {
  fill: #666;
  font-family: sans-serif;
  font-size: 2.5px;
  text-anchor: middle;
}

.job-data {
  display: flex;
}

.table-title {
  background-color: #64738A;
  color: #FFF;
}

td {
  background-color: #FFF;
  border-bottom: 3px solid  #EDEEF3;
  font-weight: 900;
  padding: 30px;
}

.edit-title {
  padding: 10px;
}

.edit-title:hover {
  background-color: #7B8BA6;
}

.job-description-table {
  grid-area: main;
}

table {
  border-collapse: collapse;
}

main {
  background-color: #EAF0F5;
  padding: 40px;
}

.outside-connect {
  grid-area: article;
  padding-left: 30px;
}

.facebook,
.twitter,
.linked-in,
.email-button {
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 16px;
  width: 100%;
}

.email-button {
  border: 1px solid #EDEEF3;
  box-shadow: -1px 1px 2px -2px #90929E;
  color: #90929E;
  text-align: left;
  width: 100%;
}

.email-button:hover {
  color: #64738A;
}

.social-media-connect-buttons i {
  float: left;
}

.facebook {
  background-color: #4265BB;
}

.twitter {
  background-color: #00A2EE;
}

.linked-in {
  background-color: #0576B4;
} 

.outside-connect-headings {
  color: #64738A;
  font-weight: 900;
  font-size: 1em;
}

.outside-connect-text {
  font-size: 14px;
}

.double-button {
  display: flex;
}

.double-left {
  border: none;
  border-radius: 2px;
  box-shadow: -1px 1px 2px -2px #90929E;
  color: #90929E;
  font-size: 12px;
  padding: 5%;
  text-align: left;
}

.double-left:hover {
  color: #64738A;
  font-weight: 900;
}

.double-right {
  background-color: #4AB5BB;
  border: none;
  border-radius: 2px;
  box-shadow: -1px 1px 2px -2px #90929E;
  color: white;
  font-size: 14px;
  font-weight: 700;    
}

.double-right:hover {
  background-color: #64738A;
  font-weight: 900;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1111px) {
  aside {
    display: none;
  }
  body {
    display: grid;
    grid-template-areas: "nav nav nav nav nav nav"
                         "header header header header header header"
                         "section section section section section section"
                         "main main main article article article";
    grid-template-rows: 1fr 1fr 2fr 5fr;
    grid-template-columns: 6fr;
    width: 100%;
  }
  .page-tab-links {
    font-size: 90%;
    margin-bottom: 16px;
    margin-right: 10px;
    padding-bottom: 20px;
  }
  table {
    font-size: 85%;
  }
}

@media screen and (max-width: 668px) {
  .search-text {
    display: none;
  }
  .searchbar-nav {
    border: none;
    display: flex;
    font-size: 110%;
    justify-content: center;
  }
  .searchbar-nav-icons{
    border: none;
    flex-grow: 1;
    font-size: 150%;
  }
  .searchbar-nav-icons-2 {
    border: none;
    display: flex;
    flex-grow: 1;
    font-size: 150%;
  }
  .job-title {
    margin: 25px 0px -10px 0px;
    text-align: center;
  }
  header {
    align-items: center;
    flex-direction: column;
    font-size: 90%;
  }
  .page-tabs {
    justify-content: center;
    margin: auto;
  }
  .data-visuals {
    flex-direction: column;
  }
  .data-visuals-left,
  .data-visuals-right {
    width: 100%;
  }
  .data-buttons-box {
    display: none;
  }
  .job-data {
    flex-direction: column;
  }
  button {
    align-items: center;
  }
  .outside-connect {
    margin-top: 15px;
    padding: 0px;
  }
  .double-right {
    width: 25%;
  }
  .double-left {
    padding: 4%;
  }
  .email-button {
    padding: 4%;
  }
} 

@media screen and (max-width: 425px) {
  .searchbar-nav-icons,
  .searchbar-nav-icons-2 {
    border: none;
    font-size: 105%;
  }
}